
.barLine{
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    flex: 3;
}
.barName,.barNums {
    margin: 0px 10px;
    font-weight: 400;
}
.barName {
    width: 100px;
    color: gray;
}

.bar{
    -webkit-appearance: inherit;
    height: 10px;
    align-self: center;
}

::-webkit-progress-bar {
    background-color: rgb(233, 236, 239);
}
::-webkit-progress-value {
    background-color:  rgb(65, 139, 245);
}