.chartMenu{
    display: flex;
    justify-content: center;
    border-top: 1px solid gray;
    justify-self: flex-end;
    margin-top: 15px;
}

@media only screen and (min-width: 500px){
    .chartMenu{
        justify-content: flex-end;
    }

}
@media only screen and (min-width: 800px){

}