.statStack{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100px;
    margin: 10px 0px 0px 0px;
  }
  .stackTitle{
    color: gray;
    font-size: 12px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .stackNums{
    font-size: 32px;
    font-weight: 400;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }