.chart{
    display: flex;
    padding: 0% 0% 0% 0%;
    box-shadow: 5px 5px 10px -5px darkgray;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin: 1% 0% 1% 3%;
    width: 98%;
  }
  .chartTitle{
    justify-content: flex-start;
    padding-left: 1%;
    font-size: 14px;
    margin: 10px 0px 25px 0px;
    color: gray;
  }
  .chartText{
    justify-content: flex-start;
    padding-left: 1%;
  }
  .chartImg{
    justify-content: flex-end;
    padding-left: 20px;
  }

  @media only screen and (min-width: 500px){
    .chart {
      width: 46%;
      margin: 2% 2% 2% 0%;
    }
  }
  @media only screen and (min-width: 800px){
    .chart{
      width: 46.5%;
      margin: 2% 0% 2% 0%;
    }
  }