header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 98%;
    margin: 13% 2% 10px 0%;
  }
  .dashbar{
    margin: 1% 0% 0% 3%;
    justify-content: flex-start;
    
  }
  .reportForm{
    margin: 10px 1% 0% 0%;
  }
  .report{
    border-radius: 50px;
    border: 0px;
    background-color: #418BF5;
    color: white;
    padding: 5px 15px;
    justify-content: flex-end;
  }

@media only screen and (min-width: 500px){
  header{
    margin: 40px 30% 1% 0%;
  }
}
@media only screen and (min-width: 800px){
  header{
    margin: 40px 2% 20px 0%;
  }
}