.Products{
    box-shadow: 5px 5px 10px -5px darkgray;
    display: flex;
    flex-direction: column;
    background-color: white;
    flex: 1;
    padding: 10px;
    margin: 1% 0% ;
    /* width: 50%;
    height: 50%;
    margin: 1%;
    padding: 0px 40px 30px 10px; */
}
.prodTitle{
    font-size: 14px;
    margin: 10px 0px 25px 0px;
    color: gray;
}
.prodTable{
    padding: 0px;
    
}
.headers{
    text-align: left;
    
}
table{
    border-collapse: collapse;
    th {
        margin-bottom: 40px;
        tr{
            padding: 0px 0px 0px 20px;
        }
    }
    .tableRow{
        border-top: 1px solid gray;
        margin: 10px 0px;
        
    }
}
@media only screen and (min-width: 500px){
    .Products{
        flex: 3;
        margin: 0% 3% 0% 0%;
    }
    
}