body {
  display: flex;
  align-content: space-between;
  background-color: lightgray;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: stretch;
}
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  
}
.topBoxes, .chartPurchases{
  flex-direction: column;
}

@media only screen and (min-width: 500px){
  .topBoxes, .chartPurchases{
    flex-direction: row;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 800px){
  
}
@media only screen and (min-width: 1080px){
  main{
    width: 1080px;
    align-items: center;
    margin: auto;
  }
}
