@import '../../../variables';


.sideMenu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    position: fixed;
    width: 75px;
    margin: 42px 0px 0px 0px;
    background-color: darkgray;
    height: 100%;
    right: 0px;
}
.sideIcons{
    padding: 20px 30px;
}
.sideIcons:hover{
    background-color: gray;
}


